<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/plugins/images/favicon.png"
          th:href="@{../static/plugins/images/favicon.png}">

    <link href="../static/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"
          th:href="@{../static/bootstrap/dist/css/bootstrap.min.css}">
    <!-- Menu CSS -->
    <link href="../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet"
          type="text/css" th:href="@{../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css}">
    <!-- toast CSS -->
    <link href="../static/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet" type="text/css"
          th:href="@{../static/plugins/bower_components/toast-master/css/jquery.toast.css}">
    <!-- animation CSS -->
    <link href="../static/css/animate.css" rel="stylesheet" th:href="@{../static/css/animate.css}">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../static/css/style.css}">
    <!-- color CSS -->
    <link href="../static/css/colors/blue-dark.css" id="theme" rel="stylesheet"
          th:href="@{../static/css/colors/blue-dark.css}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header"><a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)"
                                      data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars
"></i></a>
            <div class="top-left-part"><a class="logo" href="index.html"><b><img
                    src="../static/plugins/images/pixeladmin-logo.png"
                    th:href="@{../static/plugins/images/pixeladmin-logo.png}" alt="home"/></b><span
                    class="hidden-xs"><img src="../static/plugins/images/pixeladmin-text.png"
                                           th:href="@{../static/plugins/images/pixeladmin-text.png}" alt="home"/></span></a>
            </div>
            <ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
                <li>
                    <form role="search" class="app-search hidden-xs">
                        <input type="text" placeholder="Search..." class="form-control"> <a href=""><i
                            class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                    <a class="profile-pic" href="#"> <img src="../static/plugins/images/users/varun.jpg"
                                                          th:href="@{../static/plugins/images/users/varun.jpg}"
                                                          alt="user-img" width="36" class="img-circle"><b
                            class="hidden-xs">Steave</b> </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li style="padding: 10px 0 0;">
                    <a th:href="@{/adminIndex}" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">首页</span></a>
                </li>
                <li>
                    <a th:href="@{/admins/toStation}" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">站点</span></a>
                </li>
                <li>
                    <a th:href="@{/admins/selectAllStation}" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">查询站点</span></a>
                </li>
                <li>
                    <a th:href="@{/admins/toUser}" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">用户管理</span></a>
                </li>
                <li>
                    <a th:href="@{/admins/toRoadMap}" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">路线图</span></a>
                </li>
                <li>
                    <a th:href="@{/admins/toTrain}" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">班次表</span></a>
                </li>
                <li>
                    <a href="fontawesome.html" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i><span class="hide-menu">Icons</span></a>
                </li>

                <!-- <li>
                    <a href="map-google.html" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i><span class="hide-menu">Google Map</span></a>
                </li> -->
                <!-- <li>
                    <a href="blank.html" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i><span class="hide-menu">Blank Page</span></a>
                </li> -->
                <li>
                    <a href="404.html" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><span class="hide-menu">Error 404</span></a>
                </li>
            </ul>
            <div class="center p-20">
                <span class="hide-menu"><a href="#" target="_blank"
                                           class="btn btn-danger btn-block btn-rounded waves-effect waves-light">Upgrade to Pro</a></span>
            </div>
        </div>
    </div>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Basic Table</h4></div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"><a href="#"
                                                                     class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Upgrade
                    to Pro</a>
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">Basic Table</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <!--                        <h3 class="box-title">Basic Table</h3>-->
                        <!--                        <p class="text-muted">Add class <code>.table</code></p>-->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#addTrainModal">
                            添加班次
                        </button>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <td>id</td>
                                    <td>路线图</td>
                                    <td>火车编号</td>
                                    <td>发车时间</td>
                                    <td>结束时间</td>
                                    <td>剩余车票</td>
                                    <td>价格</td>
                                    <td>状态</td>
                                    <td>操作</td>
                                </tr>
                                <tr th:each="trains: ${pageInfo.list}">
                                    <td th:text="${trains.id}"></td>
                                    <td>
                                        <span th:text="${trains.roadMap.startStation}"></span>
                                        <span>----></span>
                                        <span th:text="${trains.roadMap.endStation}"></span>
                                    </td>
                                    <td th:text="${trains.trainNumber}"></td>
                                    <td th:text="${#dates.format(trains.startTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#dates.format(trains.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${trains.ticketNumber}"></td>
                                    <td th:text="${trains.price}"></td>
                                    <td th:text="${trains.state}"></td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#updateTrainModal" th:data-updatetrainid="${trains.id}">
                                            修改
                                        </button>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#deleteTrainModal"
                                                th:onclick="getDeleteTrainId([[${trains.id}]])">
                                            删除
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
            <a th:href="@{/admins/toTrain}">首页</a>
            <a th:href="@{/admins/toTrain(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
            <a th:href="@{/admins/toTrain(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
            <a th:href="@{/admins/toTrain(pageNum=${pageInfo.pages})}">尾页</a>

        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2017 &copy; Pixel Admin brought to you by wrappixel - More Templates <a
                href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></footer>
    </div>
    <!-- /#page-wrapper -->
</div>


<!-- 模态框--删除 -->
<div class="modal fade" id="deleteTrainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel01">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel01">提示</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteTrainId">
                <p>是否删除！！！</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="deleteTrainBtn">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- 模态框--修改 -->
<div class="modal fade" id="updateTrainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel02">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel02">修改</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="tid" class="control-label">id:</label>
                    <input type="text" class="form-control" id="tid" name="tid" th:name="tid" disabled/>
                </div>
                <div class="form-group">
                    <label for="rselect" class="control-label">路线图:</label>
                    <select id="rselect">
                        <option>请选择</option>
                        <option th:each="roadmaps: ${roadMapList}" th:value="${roadmaps.id}" th:text="${roadmaps.toString()}"></option>
                    </select>
<!--                    <input type="text" class="form-control" id="rselect" name="rselect" th:name="rselect"/>-->
                </div>
                <div class="form-group">
                    <label for="tname" class="control-label">火车编号:</label>
                    <input type="text" class="form-control" id="tname" name="tname" th:name="tname"/>
                </div>
                <div class="form-group">
                    <label for="stime" class="control-label">发车时间:</label>
                    <input type="date" class="form-control" id="stime" name="stime" th:name="stime"/>
                </div>
                <div class="form-group">
                    <label for="etime" class="control-label">到站时间:</label>
                    <input type="date" class="form-control" id="etime" name="etime" th:name="etime"/>
                </div>
                <div class="form-group">
                    <label for="ticketnumber" class="control-label">剩余车票:</label>
                    <input type="text" class="form-control" id="ticketnumber" name="ticketnumber" th:name="ticketnumber"/>
                </div>
                <div class="form-group">
                    <label for="price" class="control-label">价格:</label>
                    <input type="text" class="form-control" id="price" name="price" th:name="price"/>
                </div>
                <div class="form-group">
                    <label for="state" class="control-label">状态:</label>
                    <input type="text" class="form-control" id="state" name="state" th:name="state"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="updateTrainBtn">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- 模态框--添加 -->
<div class="modal fade" id="addTrainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel03">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel03">添加</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="trainId" class="control-label">id:</label>
                    <input type="text" class="form-control" id="trainId" name="trainId" th:name="trainId" disabled/>
                </div>
                <div class="form-group">
                    <label for="roadMapSelect" class="control-label">路线图:</label>
                    <select id="roadMapSelect">
                        <option>请选择</option>
                        <option id="rmp" th:each="roadmaps: ${roadMapList}" th:value="${roadmaps.id}" th:text="${roadmaps.toString()}"></option>
                    </select>
<!--                    <input type="text" class="form-control" id="roadMapSelect" name="roadMapSelect" th:name="roadMapSelect"/>-->
                </div>
                <div class="form-group">
                    <label for="trainName" class="control-label">火车编号:</label>
                    <input type="text" class="form-control" id="trainName" name="trainName" th:name="trainName"/>
                </div>
                <div class="form-group">
                    <label for="startTime" class="control-label">发车时间:</label>
                    <input type="date" class="form-control" id="startTime" name="startTime" th:name="startTime"/>
                </div>
                <div class="form-group">
                    <label for="endTime" class="control-label">到站时间:</label>
                    <input type="date" class="form-control" id="endTime" name="endTime" th:name="endTime"/>
                </div>
                <div class="form-group">
                    <label for="balanceNumber" class="control-label">剩余车票:</label>
                    <input type="text" class="form-control" id="balanceNumber" name="balanceNumber" th:name="balanceNumber"/>
                </div>
                <div class="form-group">
                    <label for="trainPrice" class="control-label">价格:</label>
                    <input type="text" class="form-control" id="trainPrice" name="trainPrice" th:name="trainPrice"/>
                </div>
                <div class="form-group">
                    <label for="trainState" class="control-label">状态:</label>
                    <input type="text" class="form-control" id="trainState" name="trainState" th:name="trainState"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addTrainBtn">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- /#wrapper -->
<!-- jQuery -->
<script src="../static/plugins/bower_components/jquery/dist/jquery.min.js"
        th:href="@{../static/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/bootstrap/dist/js/bootstrap.min.js"
        th:href="@{../static/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- Menu Plugin JavaScript -->
<script src="../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"
        th:href="@{../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js}"></script>
<!--slimscroll JavaScript -->
<script src="../static/js/jquery.slimscroll.js" th:href="@{../static/js/jquery.slimscroll.js}"></script>
<!--Wave Effects -->
<script src="../static/js/waves.js" th:href="@{../static/js/waves.js}"></script>
<!-- Custom Theme JavaScript -->
<script src="../static/js/custom.min.js" th:href="@{../static/js/custom.min.js}"></script>


</body>

<script>
    // 用于向模态框里传值
    $('#updateTrainModal').on('show.bs.modal', function (event) {
        let btn = $(event.relatedTarget)
        let tid = btn.data('updatetrainid')
        console.log(tid)
        let modal = $(this)

        $.ajax({
            url: '/admins/findTrainById',
            data: {trainId: tid},
            dataType: 'json',
            type: 'get',
            contentType: 'application/json',
            success: function (data) {
                modal.find(".modal-body #tid").val(data.id)
                modal.find(".modal-body #rselect").val(data.roadMap.id)
                modal.find(".modal-body #tname").val(data.trainNumber)
                modal.find(".modal-body #stime").val(data.startTime)
                modal.find(".modal-body #etime").val(data.endTime)
                modal.find(".modal-body #ticketnumber").val(data.ticketNumber)
                modal.find(".modal-body #price").val(data.price)
                modal.find(".modal-body #state").val(data.state)
                console.log("reselect: " + data.roadMap.id)
            },
            error: function (data) {
                console.log("错误")
            }
        })
    })

    // 当点击确定按钮后，将管理员输入的班次数据发往后台
    $('#addTrainBtn').click(function () {
        let roadMapSelect = $('#roadMapSelect option:selected').val()
        let trainId = $('#trainId').val()
        let trainName = $('#trainName').val()
        let startTime = $('#startTime').val()
        let endTime = $('#endTime').val()
        let balanceNumber = $('#balanceNumber').val()
        let trainPrice = $('#trainPrice').val()
        let trainState = $('#trainState').val()
        console.log("roadMapSelect: " + roadMapSelect)

        $.ajax({
            url: '/admins/addTrain',
            type: 'post',
            data: {
                roadMapSelect: roadMapSelect,
                trainNumber: trainName,
                startTime: startTime,
                endTime: endTime,
                balanceNumber: balanceNumber,
                trainPrice: trainPrice,
                trainState: trainState
            },
            success: function (data) {
                if (data === 2) {
                    alert("添加成功")
                    flushOption()
                    $('#addTrainModal').modal('hide')
                    console.log(data)
                } else if (data === 1){
                    alert("班次已存在")
                } else {
                    alert("添加失败")
                }
            },
            error: function (data) {
                alert("错误")
            }
        })
    })

    // 在更新完用户操作后，查询全部用户并刷新
    function flushOption() {
        $.ajax({
            url: '/admins/toUser',
            success: function (msg) {
                // 刷新页面
                window.location.reload()
            },
            error: function (data) {
                alert("错误")
            }
        })
    }

    // 当点击保存按钮是，往后台发送修改后的班次信息
    $('#updateTrainBtn').click(function () {
        let tid = $('#tid').val()
        let roadMapSelect = $('#rselect option:selected').val()
        let tname = $('#tname').val()
        let stime = $('#stime').val()
        let etime = $('#etime').val()
        let ticketnumber = $('#ticketnumber').val()
        let price = $('#price').val()
        let state = $('#state').val()

        $.ajax({
            url: '/admins/updateTrain',
            type: 'put',
            data: {
                trainId: tid,
                roadMapSelectId: roadMapSelect,
                trainNumber: tname,
                startTime: stime,
                endTime: etime,
                ticketNumber: ticketnumber,
                price: price,
                state: state,
            },
            success: function (data) {
                if (data === 2) {
                    flushOption()
                    $('#updateUserModal').modal('hide')
                    console.log(data)
                }
            },
            error: function (data) {
                alert("错误")
            }
        })
    })


    // 获得要删除用户的id，模态框获得隐藏的id值
    function getDeleteTrainId(id) {
        $('#deleteTrainId').val(id)
    }

    // 实现删除站点功能并把整个页面刷新
    $('#deleteTrainBtn').click(function () {
        let id = $('#deleteTrainId').val()
        console.log(id)
        $.ajax({
            url: '/admins/deleteTrainId',
            data: {trainId: id},
            dataType: 'json',
            success: function (data) {
                if (data === 2) {
                    alert("删除成功")
                    flushOption()
                    $('#deleteTrainModal').modal('hide')
                } else {
                    alert("删除失败")
                }
            },
            error: function(){
                alert("错误")
            }
        })
    })

</script>
</html>
